<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="Agende Sua Consulta.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="e307_768">
  <div class="e217_392">
    <div class=e217_393><span  class="e217_394">SP Medical Group</span>
      <div class="e217_395"></div>
      <img src="IMAGENS/logo_maior.png" class="img">
      <div class="e217_396"></div><span  class="e217_397">Portal do paciente</span>
      <div class="e217_399"></div><span class="e217_400">Agende uma consulta</span>
      <div class="e217_401"></div>
      <div class="e217_402"></div><span  class="e217_403">DIA:</span><span  class="e217_404">HORÁRIO:</span>
      <img src="IMAGENS/calendario.png.png" class="calendario"
      <div class="e217_405"></div>
      <div class="e217_406"></div>
      <div class="e217_407"></div>
      <div class="e217_408"></div>
      <div class="e217_409"></div>
 <div class=sete><span  class="e217_415">07:00HRS</span></div>
      <div class=oito><span  class="e217_415">08:00HRS</span></div>
      <div class=nove><span  class="e217_415">09:00HRS</span></div>
      <div class=dez><span  class="e217_415">10:00HRS</span></div>
      <div class=e217_414><span  class="e217_415">17:00HRS</span></div>
      <div class="e281_559"></div>
      <div class="e310_446"></div>
    </div>
    <div class=e217_418>
      <div class="ei217_418_185_26"></div><span  class="ei217_418_185_27">Pronto</span>
    </div>
  </div>
</div>
</body>

</html>
