html{
    width: 100%;
    height: 100%;
    
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    align-items: center;
  }
  
body{
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(0, 107, 169, 0.562) 100%);;
}

.titulo{ 
    color: rgba(0, 0, 0, 0.550000011920929);
    width: 250px;
    height: 33px;
    position: absolute;
    font-family: Helvetica;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    margin-left: 50px;
    margin-top: -13%;
    
}

.logo{
    width: 75px;
    height: 55px;
    margin-left: -15px;
}

.linha{
    width: 300px;
    height: 5   0px;
    position: absolute;
    left: 100px;
    top: 72px;
    padding: 1px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.534) ;
    display: block;
    flex-direction: row;
}
.casinha{
    width: 45px;
    height: 50px;
}

.casinha2 {
    width: 45px;
    height: 50px;
    position: absolute;
    right: 100px;
    top:72px ;
}

.subtitulo{
    margin-top: 168px;
    font-family: Helvetica;
    color: rgba(0, 0, 0, 0.658);
    margin-left: 92px;
    font-size: 20px;
    width: 500px;
}

.texto{
    font-size: 25px;
}
.img {
    display: block;
    margin-top: -17%;
    margin-left: 50%;
}
.botao {
    margin-top: -5%;
    margin-left: 4%;
    display: block;
    width: 235px;
    height: 50px;
    font-size: 25px;
    font-family: Askhar;
    color:black;
    background-color: rgb(134, 187, 230);
    border-radius: 15px;
    align-items: center;
    text-align: left;
}
.botao:hover {
    background-color: rgb(92, 165, 226);
  }