<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="assets/SP-Medical Group/assets/img/logoicon.png" rel="icon">
  <title>SP-Medical Group</title>
  <style>
    html {
  height: 100%;
  padding: 0px;
}
    * 
    body {
      background: rgb(255, 255, 255);
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 20%, rgba(0, 108, 169, 1) 100%);
      font-family: Arial, sans-serif;
      padding: 0px;
    }

    .cabecalho {
      background-color: #3fbbc0;
      color: #fff;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .titulo {
      font-size: 24px;
      font-weight: bold;
    }



    h2 {
      text-align: center;
    }

    label {
      display: block;
      font-weight: bold;
      margin-top: 10px;
      margin-left: 10px;
    }


    button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 15px;
      margin-top: 15px;
      font-size: 15px;
    }
    header {
  background-color: white;
  height: 115px;
  align-items: center;
  text-align: center;
  max-width: 100%;
  top: 0%;
}
.logo{
  display: inline-block;
}
.divlogo{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 120px; /* Torna a div do tamanho da janela de visualização */
    margin-top: 0%;
  }
  .submenu {
    background-color: #ffffff;
    text-align: center;  
    width: 500px; /* Define a largura do container */
    height: 440px; /* Define a altura do container */
    margin: 0% auto;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 2%;
  }
  label {
    display: block;
    text-align: left;
    margin-top: 0px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Estilo para os campos de entrada de texto */
  input[type="text"],
  input[type="username"],
  input[type="time"],
  input[type="date"],
  input[type="informacoesamais"] {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
    box-sizing: border-box;
  }
  select {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
    box-sizing: border-box;
  }
  </style>
</head>
<body>
  <header>
    <div class="divlogo">
        <a href="/">
          <img src="IMAGENS/logo.png" class="logo">
        </a>
      </div>
    </header>
  <div  class="submenu">
    <h2>Agendar Consulta Médica</h2>
    <form action="/agendamento" method="post" id="consultas"  >

      <input placeholder="Nome completo" type="text" id="username" name="username" required><br>
      
      <input placeholder="Ex: exemplo@email.com" oninput="validarEmail(this)" type="text" name="email" id="email" required><br>

      <input placeholder="" type="date" id="date" name="date" required><br>

      <input placeholder="" type="time" id="horario" name="horario" required><br>

      <select id="medico" name="medico" required>
        <option value="" >Selecione um médico</option> 
        <option value="Doctor Who" >Doctor Who</option> 
        <option value="Elizabeth Schimidt" >Elizabeth Schimidt</option> 
        <option value="Bonnie Fazbear" >Bonnie Fazbear</option>
        <option value="Milena Shokan">Milena Shokan</option>
      </select><br>

      <input placeholder="informações a mais" type="informacoesamais" id="informacoesamais" name="informacoesamais" required><br>

      <button type="submit">Agendar</button>
    </form>
    <script src="assets/js/functions.js" ></script>
</body>
</html>