 html {
    height: 100%;
    width: 100%;
  }
  body{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(0,108,169,1) 100%);
  background-repeat: no-repeat;
  }
  .logo{
  display:flex;
  justify-content: center;
    
  }
  .casa{
  width: 50px ;
    height: 50px;
  right: 100px;
    position: absolute;
    margin-top: 0px;
    
  
  
    
  }
 
  .e311_1252 { 
      color:rgba(0, 0, 0, 0.550000011920929);
      width:193.5px;
      height:24.749998092651367px;
      font-family:Akshar;
      text-align:left;
      font-size:18px;
      letter-spacing:0;
    justify-content: right;
     position: absolute;
    top: 4.35%;
    left: 80px;
  }
  #login{
    display:flex;
    position: absolute;
    justify-content: center;
    flex-direction:column;
    left:45%;
  }
  .form{
    text-align: center;

  
  }
  .login-1{
  text-align: center; 
  
    
  }
  .submenu{
    text-align: center;
  }
  
  #nome{
     border-radius: 30px;
    position: absolute
    top: 500px; 
     margin-bottom: 40px;
    left: 500px;
    width: 650px ;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
  }
  input {
    border-radius: 20px;
    margin-bottom: 20px;
    width: 650px;
    height: 30px;
    font-size: 15px;
  }
  #email{
    border-radius: 20px;
    position: absolute
    top: 500px; 
     margin-bottom: 20px;
    left: 500px;
    width: 650px ;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
  }
  #idade{
     border-radius: 20px;
    position: absolute
    top: 500px; 
     margin-bottom: 20px;
    left: 500px;
    width: 650px ;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
  }
  #cpf{
     border-radius: 20px;
    position: absolute
    top: 500px; 
     margin-bottom: 20px;
    left: 500px;
    width: 650px ;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
  }
  #sexo{
   border-radius: 40px;
    position: absolute
    top: 500px; 
     margin-bottom: 20px;
    left: 500px;
    width: 650px ;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
  }
  #senha{
    
     border-radius: 20px;
    position: absolute
    top: 500px; 
     margin-bottom: 20px;
    left: 500px;
    width: 650px ;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
  }
  #cofirmarSenha{
  border-radius: 20px;
    position: absolute
    top: 500px; 
     margin-bottom: 20px;
    left: 500px;
    width: 650px ;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
  }
  .Cadastrar {
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 16px;
    background-color: #006CA9;
  }