<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Cadastro</title>
    <style>
      html {
        height: 100%;
        
      }
      
      * 
      body {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 20%, rgba(0, 108, 169, 1) 100%);
      }
      a {
        color: black;
      }
      h1 {
          font-family: georgia;
          font-size: 50px;
      }
      .logoimg{
        display: inline-block;
      }
      
      .e311_1252 {
        color: rgba(0, 0, 0, 0.550000011920929);
        width: 193.5px;
        height: 24.749998092651367px;
        font-family: Akshar;
        text-align: left;
        font-size: 18px;
        letter-spacing: 0;
        justify-content: right;
        position: absolute;
        top: 4.25%;
        left: 80px;
      }
      .formulario {
          text-align: center;
          width: 100%;
      }
      .casa {
        width: 50px;
        height: 50px;
        right: 90px;
        position: absolute;
        margin-top: 30px;
        
      }
      
      input{
          width: 500px;
          height: 20px;
          border-radius: 10px;
      }
      button {
          width: 150px;
          height: 35px;
          border-radius: 10px;
          background-color: rgba(88, 181, 235, 0.788);
          transition: 0.3s;
          font-family: georgia;
          font-size: 20px;
      }
      button:hover{
          background-color: rgba(35, 143, 206, 0.356);
      }
      .A {
          background-color: blue;
      }
      .voltar {
        display: block;
        width: 40px;
        height: 50px;
        margin-left: 85%;
      }
    </style>
  </head>
  <body>
    <div>
      <img class="logo-pequeno" src="IMAGENS/logo_menor.png">
      <span class="e311_1252">SP Medical Group</span>
    </div>
    
   <!-- views/register.ejs -->
<form action="/Cadastro" method="post" class="formulario">
  <h1>Cadastro</h1><br><br>

  <input placeholder="Nome completo" type="text" name="nomecompleto" id="nomecompleto" required><br><br>

  <input placeholder="E-mail" type="text" name="email" id="email" required><br><br>

  <input placeholder="CPF apenas os números" type="text" name="cpf" id="cpf" required><br><br>

  <input placeholder="Data de nascimento ex.: 11/05/1980" type="text" name="datanascimento" id="datanascimento" required><br><br>

  <input placeholder="Sexo" type="text" name="sexo" id="sexo" required><br><br>

  <input placeholder="Nome de Usuário" type="text" name="username" id="username" required><br><br>

  <input placeholder="Senha" type="password" name="password" id="password" required><br><br>

  <button type="submit">Cadastrar</button>
</form>

</body>

</html>
