<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<style>
html {
  height: 100%;
  
}
div {
    display: flex;
    align-items: center;
}

* 
body {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 20%, rgba(0, 108, 169, 1) 100%);
  align-items: center;

}
a {
  color: black;
  text-align: center;
    width: 100%;
}
h1 {
    font-family: georgia;
    font-size: 50px;
}
.e311_1252 {
  color: rgba(0, 0, 0, 0.550000011920929);
  font-family: Akshar;
  font-size: 40px;
  letter-spacing: 0;
  display: block;
  margin-top: 10%;
  text-align: center;
  margin-left: center;
}
input{
    width: 500px;
    height: 20px;
    border-radius: 10px;
}
button {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background-color: rgba(88, 181, 235, 0.788);
    transition: 0.3s;
    font-family: georgia;
    font-size: 20px;
}
button:hover{
    background-color: rgba(35, 143, 206, 0.356);
}
.A {
    background-color: blue;
}
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .icon {
        display: block;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        animation: spin 2s linear infinite;
        margin-left: 44%;
    }
    .logo-pequeno {
        display: block;
        margin-left: center;
    }
</style>
</head>
<body>
    
    <span class="e311_1252">SP Medical Group agradece!</span><br>
    <div>
    <div class="icon"><img class="logo-pequeno" src="IMAGENS/logo_maior.png"></div>
</div><br>
<div><a href="/login">Volte para página de login</a></div>
</body>
</html>