<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pediatria</title>

</head>

<body>
    <!-- cabeçalho -->
    <header>
        <div class="linha">
            <h1 class="titulo"> SP Medical Group</h1>
            <img class="logo" src="imagens/logo.png">
        </div>

        <div class="casinha2">
            <img class="casinha" src="imagens/casinha.png">
        </div>
    </header>

     <!--corpo-->
     <div class="subtitulo">
        <h1>Informação de usuário</h1>
     </div>

     <div class="botoes1">
        <div class="caixa1">
        <input class="cinza" type="text" placeholder="Nome Completo">
        <br>
        <br>    
        <input class="cinza1" type="text" placeholder="RG">
        <br>
        <br>
         <input class="cinza2" type="text" placeholder="CPF">
        <br>
        <br>
        <input class="cinza3" type="text" placeholder="Natural de">
        </div>
        <br>
        <br>
        <div class="caixa2">
        <input class="cinza4" type="text" placeholder="Data de nascimento">
        <br>
        <br>
        <input class="cinza5" type="text" placeholder="Endereço">
        <br>
        <br>
        <input class="cinza6" type="text" placeholder="bairro">
        <br>
        <br>
        <input class="cinza7" type="text" placeholder="Municipio">
        <br>
        <br>
        <input class="cinza8" type="text" placeholder="CEP">
        <div class="btn">
        <button class="btnentrar">ENTRAR</button></div>
     </div>
</body>

    
