<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Ginecologista</title>

</head>

<body>
    <!-- cabeçalho -->
    <header>
        <div class="linha">
            <img class="logo" src="IMAGENS/logo_maior.png"><h1 class="titulo"> SP Medical Group</h1>
            
        </div>

    </header>

    <!--corpo-->
    <div class="subtitulo">
        <h1>Ginecologista</h1>
        <h1 class="texto">O ginecologista é o médico responsável por cuidar da saúde da mulher regularmente em um todo, focando especialmente no aparelho reprodutor feminino. Isso inclui o útero, ovários, trompas, vulva, vagina e até mesmo as mamas.
        </h1>
    </div>
    <img src="IMAGENS/ginecologistaimg.png" class="img">
    <a href="login">
    <div class="botao">Agendar Consulta</div>
</a>
    
         

</body>

</html>
