<!DOCTYPE html>


<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Akshar&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="home.css">
</head>

<body>
    <!--Acessar como-->
    <div>
    <div class="bloco"></div>
    <div>
    <span class="texto1">Pré-agende seus exames</span><br>
    <span class="texto2">Faça agora mesmo seus agendamentos no SP Medical Group. Sua saúde não pode esperar.</span>
  </div>
    <div class="v44_4"></div>
    <!--botoes e imagens-->
    <div class="v48_30"> 
      <div class="v48_26">
      <ul>
        <li>
          <a href="pediatria.html">
            Pediatria<img src="IMAGENS/pediatria.jpeg" class="imge">
          </a>
      </ul>
      </li>
    </div>
  </div>
    <div class="login">
      <ul>
        <li>
          <a href="login2.html">
            <span class="login">Login</span>
          </a>
      </ul>
      </li>
    </div>
    <div class="v48_35">
      <div class="v48_28">
        <ul>
          <li>
            <a href="odontologia.html">
              Odontologia<img src="IMAGENS/odontologia.png" class="imgf">
            </a>
        </ul>
        </li>
      </div>
    </div>
      <div class="v48_34">
      <div class="v48_29">
        <ul>
          <li>
            <a href="oncologista.html">Oncologista<img src="IMAGENS/oncologistanbandana.png" class="onco">
            </a>
        </ul>
        </li>
      </div>
    </div>
    <div class="v90_10">
      <div class="v90_13">
        <ul>
          <li>
            <a href="fisioterapia.html">Fisioterapia<img src="IMAGENS/fisoterapia.png" class="imgg">
            </a>
        </ul>
        </li>
      </div>
    </div>
    <div class="v90_11">
      <div class="v90_14">
        <ul>
          <li>
            <a href="ginecologista.html">Ginecologista<img src="IMAGENS/ginecologista.png" class="imgh">
            </a>
        </ul>
        </li>
      </div>
    </div>
    <div class="v90_12">
      <div class="v90_15">
        <ul>
          <li>
            <a href="cardiologista.html">Cardiologista<img src="IMAGENS/coracao.png" class="coracao">
            </a>
        </ul>
        </li>
      </div>
    </div>
    <span class="ei474_222_48_15"></span>
    <!--logo do site-->
    <div class="v48_4"></div>
    <img src="IMAGENS/logo_maior.png" class="img">
    <span class="v48_3">SP Medical Group</span>
    </div>
    <!--Textos e imagens-->
    <span class="ei474_222_90_43">"Todos os profissionais que se envolveram no <br>meus cuidados estavam muito
      comprometidos.<br>Eles seguiam os protocolos à risca. Tudo <br>funcionou como uma perfeita
      engrenagem."</span><br><br>
    <span class="e310_179">“Lembrar que no quarto de internação da minha filha tinha <br>vários dizeres, balões,
      bexigas, é algo que me deixa<br> emocionada. Nestes gestos, pude perceber que além do <br> conhecimento, a
      equipe tinha um olhar humanizado.<br> Isso fez toda diferença”</span>
      <img src="IMAGENS/senhor.png" class="imgm"><br>
      <img src="IMAGENS/senhora.png" class="imgn">
    <img src="IMAGENS/ceta.png" class="imgo">
    <img src="IMAGENS/ceta.png" class="imgp">
  

    
  </div>
  <!--topicos e imagens-->
  <img src="IMAGENS/especialista.png" class="imgi">
  <img src="IMAGENS/consulta.png" class="imgj">
  <img src="IMAGENS/exame.png" class="imgk">
  <img src="IMAGENS/resultado.png" class="imgl">
  <div class="topicos">
    <div class="Encontre"><br>ENCONTRE UM ESPECIALISTA</div>
    <div class="AgendeA">AGENDE UMA CONSULTA</div>
  </div>
  
  <div class="topicosA">
  <div class="EncontreA">AGENDE UM EXAME</div>
  <div class="resultado">RESULTADO DO EXAME</div>
</div>
<br>
<div class="rodape">
      <img src="IMAGENS/tel.png" class="imga">
      <img src="IMAGENS/insta.png" class="imgb">
      <img src="IMAGENS/gmail.png" class="imgc">
      <img src="IMAGENS/locali.png" class="imgd">
    <div class="informacoes">(xx) xxxxx-xx </div>
    <div class="informacoesA">spmedicalgroup@gmail.com</div>
    <div class="informacoesB">AV. Fuad Assef Maluf, 300, Sumaré-SP</div>
    <div class="informacoesC">medical.group</div>
    </div>
  
  </div>
  <!--
  <div class="doe">
    <img src="IMAGENS/doe.png" class="imgq">
    <span class="doescrito">Doe</span>
  </div>-->
</body>

</html>