<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="SP-Medical Group/assets/img/logoicon.png" rel="icon">
<title>SP-Medical Group</title>
<style>
html {
  height: 100%;
  align-items: center;
  
}
* 
body {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 20%, rgba(0, 108, 169, 1) 100%);
}
a {
  color: black;
}
.logo{
  display: inline-block;
}
.e311_1252 {
  color: rgba(0, 0, 0, 0.550000011920929);
  width: 193.5px;
  height: 24.749998092651367px;
  font-family: Akshar;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  justify-content: right;
  position: absolute;
  top: 4.25%;
  left: 80px;
}
.formulario {
    text-align: center;
    width: 100%;
}
header {
  background-color: white;
  height: 115px;
  align-items: center;
  text-align: center;
  max-width: 100%;
}
.divlogo{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 120px; /* Torna a div do tamanho da janela de visualização */
    margin-top: 0%;
  }
input{
    width: 500px;
    height: 20px;
    border-radius: 10px;
}
  input[type="text"],
  input[type="password"] {
    width: 90%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;;
    
  }
  input::placeholder, textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* Tamanho da fonte */
    font-weight: normal; /* Peso da fonte */
    color: #999; /* Cor do texto do placeholder */
  }
.A {
    background-color: blue;
}
.submenu {
    background-color: #ffffff;
    border-radius: 50px;
    max-width: 500px;
    margin: 0% auto;
    margin-top: 2%;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    
      width: 700px; /* Define a largura do container */
      height: 400px; /* Define a altura do container */
    
    
  }
  input{
    width: 90%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: 'Times New Roman';
    
  }
  h1 {
   text-align: center;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Login {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
  }
  .Login:hover{
    background-color: #007bffb4;
}
</style>
</head>
<body>
  <header>
    <div class="divlogo">
        <a href="/">
          <img src="assets/SP-Medical Group/assets/img/logo.png" class="logo">
        </a>
      </div>
    </header>
    <div id="cadastro" class="submenu">
<form action="/login" method="post" class="formulario"><br><br>
    <h1>Entre na sua conta</h1>
<input placeholder="Usuário" type="text" id="username" name="username" required><br><br>
<input placeholder="Senha" type="password" id="password" name="password" required><br><br>
<button type="submit" class="Login">Login</button><br><br>
<a href="/esqueceu_senha.html">Esqueceu a senha?</a><br><br>
<a href="/Cadastro">Você ainda não tem uma conta? Cadastre-se!</a>
</form>
</div>
</body>
</html>