<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Odontologia</title>

</head>

<body>
    <!-- cabeçalho -->
    <header>
        <div class="linha">
            <img class="logo" src="IMAGENS/logo_maior.png"><h1 class="titulo"> SP Medical Group</h1>
            
        </div>

    </header>

    <!--corpo-->
    <div class="subtitulo">
        <h1>Odontologia</h1>
        <h1 class="texto">O sistema de última geração de Especialidades Odontológicas do Hospital SP Medical Group em um só lugar, especialidades odontológicas a fim de atender as necessidades específicas de cada pessoa com diferentes situações.

    </div>
    <img src="IMAGENS/odontologiaimg.png" class="img">
    <a href="/login">
    <div class="botao">Agendar Consulta</div>
</a>
    
         

</body>

</html>