<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Oncologista</title>

</head>

<body>
    <!-- cabeçalho -->
    <header>
        <div class="linha">
            <img class="logo" src="IMAGENS/logo_maior.png"><h1 class="titulo"> SP Medical Group</h1>
            
        </div>

    </header>

    <!--corpo-->
    <div class="subtitulo">
        <h1>Oncologista</h1>
        <h1 class="texto">Nossa propaganda de combate ao câncer, além de nossa exigência por exames regulares, nos faz o hospital com maior taxa de descoberta de cânceres no estágio 1, onde o tratamento tem mais chances de resultar na cura.
            Exames de mama e próstata, além dos sanguíneos (AFP, MCA, BTA, PSA, CA 125, calcitonina, tireoglobulina, CEA).
            Oncologistas estão atendendo durante todo o dia, os melhores do país.
            Também é oferecido a radioterapia e quimioterapia, e eventualmente a cirurgia de remoção do tumor maligno.
        </h1>
    </div>
    <img src="IMAGENS/oncologistaimg.png" class="img">
    <a href="/login">
    <div class="botao">Agendar Consulta</div>
</a>
    
         

</body>

</html>
