<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link href="assets/SP-Medical Group/assets/img/logoicon.png" rel="icon">
  <title>SP-Medical Group</title>
  <style>
    body {
      align-items: center;
      text-align: center;
      justify-content: center;
      background-color: rgb(240, 240, 240);
    }

    .logo {
      margin-top: 100px;
    }
  </style>
</head>
<body>
  <img class="logo" src="assets/SP-Medical Group/assets/img/logo.png">
  <br>
  <a href="/login">É necessário fazer login</a>
</body>
</html>