<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("assets/pages/head"); %>
  <link rel="stylesheet" type="text/css" href="assets/css/perfil.css">
</head>
<body>
  <%- include("assets/pages/nav"); %>
  <img class="logo" src="assets/SP-Medical Group/assets/img/logo.png"><div class="divisao"></div>
  
</body>
</html>